<% layout("/layout/boilerplate") -%>
<body>
    <!-- <h1>All listings</h1>
    <form action="/Listing/new" method="GET">
        <button>Create New Listing</button>
    </form> -->
    
    <ul>
        <% for(let listing of allListing) { %>
            <li>
                <a href="/Listings/<%= listing.id %>"><%= listing.title %> </a>
            </li>
            
        <% } %>
    </ul>
</body>
