<footer>
<div class="f-info">
    <div class="f-info-social">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin-in"></i>
    </div>
    <div>WanderLust Private Limted</div>
<div class="f-info-link">
    <a href="/privacy">privacy</a>
    <a href="terms">terms</a>
</div>
</div>
    
</footer>