<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">

  <div class="container-fluid">
      <a class="navbar-brand" href="/Listing"><i class="fa-brands fa-wolf-pack-battalion fa-flip-both fa-2xl" style="color: #d90d0d;"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="/Listing">Home</a>
              <a class="nav-link" href="/Listing/new">Add Listing</a>
              <a class="nav-link" href="#">All Listings</a>
          </div>
      </div>
  </div>
</nav>
